<div style="zoom: 0.1%;">
<div  id="pdfTable" #pdfTable>
 
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;margin-left:144.0pt;text-indent:36.0pt;'><span style="font-size:15px;">&nbsp;</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;'><span style="font-size:15px;">---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span></p>

  <div class="logo">
   
            <img src="/assets/img/avatar.png" style="width: 3cm;height: 2cm; padding-left: 1cm;"/>
            
        </div>
        
    
  

  <h3 dir="LTR" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;line-height:17.0pt;'><span style="font-size:13px;">&nbsp; &nbsp; &nbsp;</span><span style="font-size:12px;">R&eacute;publique Tunisienne</span></h3>
  <h3 dir="LTR" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;line-height:15.0pt;'><span dir="RTL" style="font-size:13px;">&nbsp; &nbsp; &nbsp;</span><span style="font-size:12px;">Minist&egrave;re de l&rsquo;enseignement sup&eacute;rieur</span><span dir="RTL" style='font-size:13px;font-family:"Traditional Arabic",serif;'>&nbsp;</span><span style="font-size:13px;">&nbsp;et de</span></h3>
  <h3 dir="LTR" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;line-height:15.0pt;'><span style="font-size:13px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; la Recherche Scientifique</span></h3>
  <h3 dir="LTR" style='margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;line-height:15.0pt;'>&nbsp; &nbsp; &nbsp;Universit&eacute; de Tunis El Manar</h3>
  <h1 dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:left;font-size:19px;font-family:"Times New Roman",serif;'><span style="font-size:16px;">FACULTE DES SCIENCES DE TUNIS</span></h1>
  <p dir="RTL" style='margin:0cm;margin-bottom:.0001pt;text-align:right;font-size:13px;font-family:"Times New Roman",serif;'><span dir="LTR">&nbsp;</span></p>
  <p dir="RTL" style='margin:0cm;margin-bottom:.0001pt;text-align:right;font-size:13px;font-family:"Times New Roman",serif;'><span dir="LTR">&nbsp;</span></p>
  <h2 style="font-size:20px;  word-spacing: 0.3cm; margin-left: 6cm;">ATTESTATION   DE   PRESENSE</h2>
  <div style="margin-left: 1cm;">
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:center;font-size:13px;font-family:"Times New Roman",serif;'><strong>&nbsp;</strong></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:center;font-size:13px;font-family:"Times New Roman",serif;'><span style="font-size:16px;">&nbsp;</span></p>

  <p dir="LTR" style='margin-top:6.0pt;margin-right:-8.5pt;margin-bottom:.0001pt;margin-left:0cm;text-align:left;text-indent:0cm;line-height:150%;font-size:15px;font-family:"Times New Roman",serif;'><span style="font-size:16px;line-height:150%;">Le Secr&eacute;taire G&eacute;n&eacute;ral de la Facult&eacute; des Sciences de Tunis</span><span dir="RTL" style="font-size:16px;line-height:150%;">&nbsp;</span><span style="font-size:16px;line-height:150%;">&nbsp;</span></p>
  <p dir="LTR" style='margin-top:6.0pt;margin-right:-8.5pt;margin-bottom:.0001pt;margin-left:0cm;text-align:left;text-indent:0cm;line-height:115%;font-size:15px;font-family:"Times New Roman",serif;'><span style="font-size:16px;line-height:115%;">atteste que l&rsquo;&eacute;tudiant :&nbsp;</span></p>
  <p dir="LTR" style='margin-top:6.0pt;margin-right:-8.5pt;margin-bottom:.0001pt;margin-left:0cm;text-align:left;text-indent:0cm;line-height:115%;font-size:15px;font-family:"Times New Roman",serif;'><span style="font-size:16px;line-height:115%;">Nom :&nbsp;</span>............ ............ ............<span style="font-size:16px;line-height:115%;">&nbsp;</span></p>
  <p dir="LTR" style='margin-top:6.0pt;margin-right:-8.5pt;margin-bottom:.0001pt;margin-left:0cm;text-align:left;text-indent:0cm;line-height:115%;font-size:15px;font-family:"Times New Roman",serif;'><span style="font-size:16px;line-height:115%;">Pr&eacute;nom: &nbsp;</span>............ ............ ............</p>
  <p dir="LTR" style='margin-top:6.0pt;margin-right:-8.5pt;margin-bottom:.0001pt;margin-left:0cm;text-align:left;text-indent:-7.1pt;line-height:115%;font-size:15px;font-family:"Times New Roman",serif;'><span style="font-size:16px;line-height:115%;">&nbsp; &nbsp; &nbsp;N&eacute;e le : ...../......../........ &nbsp;&agrave; &nbsp;Tunis</span></p>
  <p dir="LTR" style='margin-top:6.0pt;margin-right:-8.5pt;margin-bottom:.0001pt;margin-left:0cm;text-align:left;text-indent:0cm;line-height:115%;font-size:15px;font-family:"Times New Roman",serif;'>Titulaire de la carte d&rsquo;identit&eacute; nationale n&deg;: &nbsp;</p>
  <p dir="LTR" style='margin-top:6.0pt;margin-right:-8.5pt;margin-bottom:.0001pt;margin-left:0cm;text-align:left;text-indent:-7.1pt;line-height:150%;font-size:15px;font-family:"Times New Roman",serif;'><span style="font-size:16px;line-height:150%;">&nbsp; &nbsp; Inscrite en ........... &nbsp;pour l&rsquo;ann&eacute;e &nbsp;........./..................</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;line-height:115%;'><span style="font-size:16px;line-height:115%;">&nbsp; La pr&eacute;sente attestation est d&eacute;livr&eacute;e &agrave; l&rsquo;int&eacute;ress&eacute;, pour servir et valoir ce&nbsp;</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;line-height:115%;'><span style="font-size:16px;line-height:115%;">que de droit.</span></p>
</div>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;line-height:115%;'><span style="font-size:16px;line-height:115%;">&nbsp;</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;line-height:150%;'><span style="font-size:16px;line-height:150%;">&nbsp;</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style="font-size:15px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong><span style="font-size:15px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Tunis, &nbsp;le &nbsp;.........../............../.................</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;'><span style="font-size:15px;">&nbsp;</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;margin-left:144.0pt;text-indent:36.0pt;'><span style="font-size:15px;">&nbsp; &nbsp;Le Secr&eacute;taire G&eacute;n&eacute;ral</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;margin-left:144.0pt;text-indent:36.0pt;'><span style="font-size:15px;">&nbsp;</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;margin-left:144.0pt;text-indent:36.0pt;'><span style="font-size:15px;">&nbsp;</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;margin-left:144.0pt;text-indent:36.0pt;'><span style="font-size:15px;">&nbsp;</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;'><span style="font-size:15px;">&nbsp;</span></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:justify;font-size:13px;font-family:"Times New Roman",serif;margin-left:180.0pt;'><strong><span style="font-size:15px;">&nbsp;</span></strong></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:center;font-size:13px;font-family:"Times New Roman",serif;margin-left:180.0pt;'><strong><span style="font-size:16px;">&nbsp;</span></strong></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:left;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style="font-size:16px;">--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span></strong></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:left;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style="font-size:16px;">&nbsp;</span></strong></p>
  <p dir="LTR" style='margin:0cm;margin-bottom:.0001pt;text-align:left;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style="font-size:16px;">&nbsp;</span></strong></p>
  </div>
</div>
  <br>
  <br>

  <br>
  <br>



  <div> <button  (click)="downloadAsPDF()">Export To PDF</button></div>
  