<div class="main-content">
  <div class="container-fluid">
      <div class="row">

          <div class="col-md-4">
              <div class="form-group">
                  <form (ngSubmit)="addmatiere()" [formGroup]="MatiereForm">

                  <input type="text" class="form-control" id="nom" placeholder="Ajoutez Matière"
                 formControlName="nom" required>

                  <button type="submit" style="background-color: #3a3a30;" class="btn btn-danger pull-right"
                          [disabled]="MatiereForm.invalid" >Ajouter une matière</button>
                  </form>

              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-4 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-danger">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <span class="nav-tabs-title">Matières:</span>

                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="matiere">
                              <table class="table">
                                  <tbody>
                                  <tr *ngFor="let matiere of matieres">
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" (change)="updateCheckedStatus(matiere, $event.target.checked)" [(ngModel)]="matiere.checked">
                                                  <span class="form-check-sign">
                                                     <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>{{ matiere.nom }}
                                          <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="deleteMatiere(matiere.id)">
                                              <i class="material-icons">close</i>
                                          </button>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td colspan="2">
                                          <div *ngIf="anyCheckboxChecked()">
                                              <input type="text" class="form-control" placeholder="Ajouter le nom de la classe" (change)="retriveClassName($event)">
                                          </div>
                                          <button style="background-color: #3a3a30;" class="btn btn-danger pull-right" [disabled]="!anyCheckboxChecked()" (click)="affecterMatiere()">Affecter ces matières à une classe</button>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Prof/Etudiants</h4>
                      <p class="card-category">Affecter à une classe</p>
                  </div>
                  <div class="card-body table-responsive">
                      <!-- Dropdown filter -->
                      <div class="form-group">
                          <label for="roleFilter">Filtrer par rôle:</label>
                          <select class="form-control" id="roleFilter" [(ngModel)]="selectedRole" (ngModelChange)="applyRoleFilter()">
                              <option value="">Tous les rôles</option>
                              <option value="ETUDIANT">Etudiant</option>
                              <option value="ENSEIGNANT">Enseignant</option>
                          </select>
                      </div>

                      <!-- Table -->
                      <table class="table table-hover">
                          <thead class="text-blue">
                          <tr>
                              <th>select</th>
                              <th>Name</th>
                              <th>Prenom</th>
                              <th>Role</th>
                              <th>Classe</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let user of filteredUsers">
                              <td>
                                  <div class="form-check">
                                      <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" (change)="updateCheckedStatusUser(user, $event.target.checked)" [(ngModel)]="user.checked">
                                          <span class="form-check-sign">
                                                     <span class="check"></span>
                                                  </span>
                                      </label>
                                  </div>
                              </td>
                              <td>{{ user.nom }}</td>
                              <td>{{ user.prenom }}</td>
                              <td>{{ user.roles }}</td>
                              <td>{{ user.nomclasse == null ? "PAS D'AFFECTATION" : user.nomclasse }}</td>
                          </tr>
                          <tr>
                              <td colspan="2">

                                  <div class="form-group" *ngIf="anyCheckboxCheckedUser()">
                                      <label for="roleFilter">Choisir une classe:</label>
                                      <select class="form-control" id="classFilter" [(ngModel)]="selectedClass">
                                          <option value="">les classes</option>
                                          <!-- Assuming class.nom contains the list of options you want to display -->
                                          <option *ngFor="let class of classes" [value]="class.nom">{{ class.nom }}</option>
                                      </select>
                                  </div>
                                  <button style="background-color: #3a3a30;" class="btn btn-danger pull-right" [disabled]="!anyCheckboxCheckedUser()" (click)="affecterClassePersonne()">Affecter ces personnes a une classe</button>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div *ngFor="let classe of classes" class="card card-plain">
              <div style="margin-right: 50%;margin-left: 1%" class="card-header card-header-blue">
                  <h4 class="card-title">{{ classe.nom }}    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="deleteClasse(classe.id_classe)">
                      <i class="material-icons">close</i>
                  </button></h4>

                  <p class="card-category">
                      <ng-container *ngFor="let matierec of classe.matieres; let last = last">
                          {{ matierec.nom }}{{ !last ? ', ' : '' }}
                      </ng-container>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
