<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Sanctions</h4>
                      <p class="card-category"> Gérer les sanctions établies par les enseignants</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Date sanction
                                 </th>
                                  <th>
                                    Élève
                                  </th>
                                  <th>
                                    Classe
                                  </th>
                                  <th>
                                      Type sanction
                                  </th>
                                  <th>
                                      Raison sanction
                                  </th>
                                  <th>
                                      Enseignant
                                  </th>
                                  <th *ngIf="currentUser.roles != 'ETUDIANT'">
                                    Action
                                </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let sanction of sanctions">
                                      <td>
                                          {{sanction.id}}
                                      </td>
                                      <td>{{ sanction.sanction.date }}</td>

                                      <td>
                                        {{sanction.eleve.nom + " "+ sanction.eleve.prenom}} 
                                      </td>
                                      <td>
                                        {{sanction.eleve.nomclasse}}
                                      </td>
                                      <td>
                                        {{sanction.sanction.type}}
                                    </td>
                                      <td style="color: red;">
                                        {{sanction.sanction.description}}

                                    </td>
                                      <td>
                                        {{sanction.enseignant.nom + " "+ sanction.enseignant.prenom}} 

                                      </td>
                                      

                                      <td *ngIf="sanction.sanction.confirmation == 0 && currentUser.roles == 'ADMINISTRATEUR'">
                                        <button mat-raised-button class="btn btn-success" (click)=" confirmAv(sanction.id,1)">Accepter</button>
                                        <button mat-raised-button class="btn btn-danger" (click)=" cancelAv(sanction.id,2)">Rejeter</button>

                                      </td>
                                      <td style="color:#00bcd4" *ngIf="sanction.sanction.confirmation == 0 && currentUser.roles == 'ENSEIGNANT'">
                                        EN ATTENTE DE CONFIRMATION 
                                      </td>
                                      <td class="text-success" *ngIf="sanction.sanction.confirmation == 1 && currentUser.roles != 'ETUDIANT'">
                                       Avertissement accepté

                                      </td>
                                      <td class="text-danger" *ngIf="sanction.sanction.confirmation == 2 && currentUser.roles != 'ETUDIANT'">
                                        Avertissement rejeté

                                      </td>
                                  
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>




         




          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Absences</h4>
                      <p class="card-category"> Liste d'absences</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                    Éléve
                                  </th>
                                  <th>
                                      Séance
                                  </th>
                                  
                                  <th>
                                      Enseignant
                                  </th>
                                  <th>
                                    Justificatif
                                </th>
                                <th *ngIf="currentUser.roles == 'ADMINISTRATEUR'">
                                    Consulter
                                </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let absence of absences">
                                      <td>
                                          {{absence.id}}
                                      </td>
                                      <td>
                                        {{absence.absence.date}}

                                      </td>
                                      <td>
                                        {{absence.eleve.nom + " "+ absence.eleve.prenom}} 

                                      </td>
                                      <td>
                                        {{absence.absence.horaire + " "+ absence.absence.matiere}} 

                                      </td>
                                      <td>
                                        {{absence.enseignant.nom + " "+ absence.enseignant.prenom}} 

                                      </td>
                                      <td  *ngIf="absence.absence.justificatif == 'non' && currentUser.roles == 'ETUDIANT'">
                                        <input (change)="onFileSelected($event)" class="form-control" type="file"  name="justificatif" accept="application/pdf" />
                                        <button mat-raised-button class="btn btn-success" (click)=" saveFile(absence.id)">Envoyer</button>


                                      </td>
                                      <td *ngIf="absence.absence.justificatif == 'non' && currentUser.roles == 'ADMINISTRATEUR'">
                                        <button mat-raised-button class="btn btn-success" (click)=" confirmAb(absence.id)">Accepter</button>
                                        <button mat-raised-button class="btn btn-danger" (click)=" cancelAb(absence.id)">Refuser</button>

                                      </td>
                                      <td *ngIf="absence.absence.justificatif == 'non2' && currentUser.roles == 'ADMINISTRATEUR'">
                                        non justifié

                                      </td>
                                      
                                      
                                      <td class="text-success" *ngIf="absence.absence.justificatif == 'oui'">
                                        justifié

                                      </td>
                                      <td class="text-danger" *ngIf="absence.absence.justificatif == 'non2' && currentUser.roles != 'ETUDIANT'">
                                        non justifié

                                      </td>
                                    <td class="text-danger" *ngIf="absence.absence.justificatif == 'non' && currentUser.roles == 'ADMINISTRATEUR'">
                                            <button (click)="toggleVisibility(absence.id)">
                                                <i class="material-icons">visibility</i>       
                                            </button>
                                            <button (click)="downloadPDF(absence.id)">
                                                <i class="material-icons">download</i>  
                              

                                            </button>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

                                           
                                      </td>
                                     
                                     
                                  
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div *ngIf="file && seepdf"   class="col-md-4">
    <div class="card card-plain">
        <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Apercu justificatif</h4>
            
         

        </div>
        
        <div class="card-body">
            
         


            <div class="table-responsive">



              <canvas #pdfViewer style="border: 1px solid black; width: 100%;"></canvas>
            </div>


        </div>
    </div>
</div>

 

 
</div>  


